################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

DuckDNS/obj/**
DuckDNS/bin/Debug/**

# Visual Studio 2015 cache/options directory
.vs/